@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body{
    background-color:bisque;
}
h1,h2{
    font-family: "Share Tech", sans-serif;
}
p{
    font-family: "Share Tech", sans-serif;
}

header{
    text-align: center;
    border-bottom: solid 6px bisque(150,72,214);
    margin-bottom: 50px;
    /*margen del borde hacia afuera*/
    padding: 50px;
    /*margen interno*/
}